
/* -------------------------code for seprete---------------------- */
.flex-container {
	display: flex;
  flex-wrap: nowrap;
  width: 80%;
  /* background: #b4d851; */
  transform: translate(13%,27%);  
  box-shadow: 20px 20px 50px #443f3f;
}

  .flex-container > div {
	background-color: #f1f1f1;
  width: 100%;
  line-height: 50px;
  font-size: 20px;
  }
  .flex-container>.other
  {
    background-image: url("/site1/image/system image/pngocean.png");
    opacity: 60%;
    background-color: #17b3a6;
   background-repeat: no-repeat;
   background-size: cover;
   position: relative;
  }
  .aline
  {
    
    transform: translate(15%,10%);
  }
  .flex-container>.box
  {
	background-image: linear-gradient(to left, #17b3a6 , #b4d851);
  padding: 5% 5% 15% 0;
  
	}
/* ---------------------------text and password-------------------------- */
  #username_id,#password_id
{
    border-radius: 32px;
    height: 30px;
    width: 75%;
    padding: 2px 20px 2px 20px;
    border: 1px orchid;
    font-size: 20px;
}
/* ----------------------------code for button------------------------------ */
.button_class
{
    color:white;
    font-weight: 200;
    background-color: darkorchid; 
    background-image: linear-gradient(to bottom, darkorchid , #3f6deb);
    height: 40px;
    width: 110px;
    border-radius: 32px;
    border: none;
    margin-right:  50px;
   
}