<div class="card" style="border: none;">
    <div class="profile_view" style="border: none;">
        <div style="float: left;">
            <img src="{{user_detail.user_profile_photo}}" class="user_image" alt="Your
                profile">
            <!-- <a class="btn btn-dark" style="margin: 2% 0 3% 22%;" data-toggle="modal" data-target="#edit"  >Edit profile</a> -->
            <a class="btn btn-dark" id="data_edit" style="margin: 2% 0 3% 22%;"
                data-toggle="modal" data-target="#edit">Edit profile</a>


        </div>
        <div style="float: left;" class="username_profile">
            <h1 class="card-titel">{{user_detail.name}}</h1>
            <div class="follow">
                <div style="float: left; margin-right: 7%;"><a class="followers"
                        href="#" style="font-size: 1rem; color: #0fe43d;">Followers
                        <br>
                        {{user_detail.followers.length}} </a></div>
                <div style="float: left; margin-right: 7%;"><a class="followers"
                        href="#" style="font-size: 1rem; color: #04040a;">Following
                        <br>
                        {{user_detail.following.length}} </a></div>
            </div>
        </div>

    </div>
    <div class="clearfix"></div>
    <!-- <button type="button" class="button_class" data-toggle="modal" data-target="#edit" > click</button> -->
</div>
<!-- <button type="button" class="button_class" data-toggle="modal" data-target="#edit" > click</button> -->
<div class="modal fade" id="edit" role="dialog" data-backdrop="false"
    aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit your profile</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- ....................................................................... -->
            <div class="modal-body">
                <form enctype="multipart/form-data"  (ngSubmit)="onSubmit()" class="aline1">


                    <label for="file-upload" style="cursor: pointer;">
                        <img src="{{user_detail.user_profile_photo}}"
                            class="user_image_in_edit"
                            alt="Your profile">
                    </label>
                    <input  (change)="onFileChange($event)" id="file-upload" name="user_profile_photo" type="file" />
                    <br>
                    <label for="control-label first_name_id"> Name</label><br>
                    <div class="input-group">
                        <input type="text" class="form-control is-valid"
                             name="first_name" 
                             [(ngModel)]="first_name"
                             id="first_name_id"
                            placeholder="Name..." ><br>
                        <span class="input-group-addon"><a class="text-success"
                                id="first_name_id_a"><i class="fa fa-pencil"></i></a></span>
                    </div>


                    <label for="password_id"> Password</label><br>
                    <div class="input-group">

                        <input type="password" class="form-control is-valid"
                            name="password_name" 
                             [(ngModel)]="password_name"
                            id="password_id"
                            placeholder="Password..." ><br>
                        <span class="input-group-addon"><a class="text-success"
                                id="password_id_a"><i class="fa fa-pencil"></i></a></span>
                    </div>
                    <label for="re_password_id">Re Type Password</label><br>
                    <div class="input-group">
                            
                        <input class="form-control is-valid" type="password"
                            name="re_password_name"   
                            [(ngModel)]="re_password_name"
                            id="re_password_id" placeholder="Re Type Password..." ><br>
                        <span class="input-group-addon"><a class="text-success"
                                id="re_password_id_a"><i class="fa fa-pencil"></i></a></span>
                    </div>
                    <label for="email_id">Email</label>
                    <br>
                    <div class="input-group">
                        <input type="email" class="form-control is-valid"
                             name="email_name"
                            id="email_id" 
                            [(ngModel)]="email_name"
                            placeholder="Email..." ><br>
                        <span class="input-group-addon"><a class="text-success"
                                id="email_id_a"><i class="fa fa-pencil"></i></a></span>
                    </div>
                    <label for="date_id">Birth Date</label><br>
                    <div class="input-group">
                        <input class="form-control is-valid" 
                         [ngModel]="date_name | date:'yyyy-MM-dd'" 
                         (ngModelChange)="date_name = $event" 
                         type="date" name="date_name"/>
<br>
                        <span class="input-group-addon"><a class="text-success"
                                id="date_id_a"><i class="fa fa-pencil"></i></a></span>
                    </div>
                    <br>
                    <input type="submit" class="button_class" value="Save
                        Change">

                </form>
            </div>

            <!-- ......................................................................... -->
        </div>
    </div>
</div>