
<div class="card" style="border: none; ">
    <div class="profile_view" style="border: none;"> 
        <div style="float: left;">
            <img src="image/system image/smily.jpg" class="user_image" alt="Your profile">
            <!-- <a class="btn btn-dark" style="margin: 2% 0 3% 22%;" data-toggle="modal" data-target="#edit"  >Edit profile</a> -->
            <a class="btn btn-dark" id="data_edit" style="margin: 2% 0 3% 22%;"  >Edit profile</a>
            

        </div>
        <div style="float: left;" class="username_profile">
            <h1 class="card-titel " >Yash Garala</h1>
            <div class="follow">
                <div style="float: left; margin-right: 7%;"><a class="followers" href="#" style="font-size: 1rem; color: #0fe43d;  " >Following <br> **** </a></div>
                <div style="float: left; margin-right: 7%;"><a class="followers" href="#" style="font-size: 1rem; color: #04040a; " >Following <br> ????? </a></div>
                <div style="float: left; "><a class="following" href="#" style="font-size: 1rem; color: #5c6599;" >Post <br> ####</a></div>
            </div>
        </div>
        
    </div>
    <div class="clearfix"></div>
        <!-- <button type="button" class="button_class" data-toggle="modal" data-target="#edit" > click</button> -->
        
    
    
</div>
    <!-- <button type="button" class="button_class" data-toggle="modal" data-target="#edit" > click</button> -->
    <div class="modal fade" id="edit" role="dialog" tabindex="-1"  aria-labelledby="modal2" aria-hidden="false">
        <div class="modal-dialog ">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Edit your profile</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
     </div>
     </div>
     </div>
     </div>
<script>
        $(document).ready(function(){
          $("#data_edit").click(function(){
              console.log("fsfs")
            $("#edit").modal({backdrop: false});
          });
         
        });
</script>
        