<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="modal1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">
                    Disclaimer</h4>
      </div>
      <div class="modal-body">
        THIS SITE IS THE PROPERTY OF domain.COM. ANY REPRODUCTION
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal2" tabindex="-1" role="dialog" aria-labelledby="modal2" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">
                    Terms of Use</h4>
      </div>
      <div class="modal-body">
        THIS SITE IS THE PROPERTY OF domain.COM. ANY REPRODUCTION
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>



<!--footer started-->
<div class="clearfix"></div>
<div class="row">
  <div class="container">
    <div id="footer">
      <a data-toggle="modal" data-target="#modal1" href="#">Disclaimer</a>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <!--modal-2-->
      <a data-toggle="modal" data-target="#modal2" href="#">Terms of Use</a>


    </div>
    <!--container-->
  </div>
  <!--row-->
</div>
<!--footer-->
<!--footer ended-->