.user_image
{
    height: 200px;
    width: 200px;
    /* position:; */
    border-radius: 300px;
    margin-top: 10%;
    margin-left: 5%;
    float: left;
}
.follow
{
    margin: 10% 0 3% 2%;
     padding-top: 10%;
     /* padding-right: 1%; */
    text-align: center;
    display: block;
    color: #f1f1f1;
}
.username_profile
{
    margin-top: 17%;
    /* text-align; */
    margin-left: 5%;
    color: white;
    float: left;
    /* margin-right: auto; */
    /* block-size: auto; */
}
.profile_view
{
    background: linear-gradient(to bottom,#5c6599 70%,#f1f1f1 30%);
    /* background-size: 0; */
}