<div class="header">
    About Us
</div>

<table class="table">
    <tbody>
      <tr>
        <td>NAME</td>
        <td>Yash Garala</td>
      </tr>      
      <tr>
        <td>ID</td>
        <td>18CEUOS078</td>
      </tr>      
      
      <tr>
        <td>MOBILE NUMBER</td>
        <td>7285022297</td>
      </tr>      
      <tr>
        <td>EMAIL</td>
        <td>yashgarala29@gmail.com
        </td>
      </tr>      
      <tr>
        <td>ROLL NO</td>
        <td>CE042
        </td>
      </tr>      
      
      <tr>
        <td>SUBJECT NAME</td>
        <td>
            Advanced Technologies
        </td>
      </tr>      
      <tr>
        <td>PROJECT TOPIC </td>
        <td>
            Social Media Application
        </td>
      </tr>      
      
    </tbody>
  </table>
