

<h1 style="text-align: center;"> Uplod your new post</h1>        
<form enctype="multipart/form-data"  [formGroup]='new_user_post' (ngSubmit)="onSubmit()">
    <label for="description" style="margin-top: 70px; margin-bottom: 10px;" >Description</label>
    <input type="text" class="description"
    formControlName='description' name="description" ><br>
    <label for="file-upload" style="padding-top:14px;margin:auto;display: block;" class="custom_file_upload">
        File
    </label>
    <input id="file-upload"  style="margin:auto;"  (change)="onFileSelect($event)"
     type="file" name="file_uplode" formControlName='file_uplode'/>
    <br>
    <!-- (ngSubmit)="onSubmit()" -->
    <br>
    
    <input type="submit"  style="margin:auto;display: block;" class="button_class" value="Post">
</form>


