<!-- {{userpost[0].user_post_file}} -->
<div *ngFor="let post of userpost.slice().reverse()  ; let i = index">
    
<div class="card border-primary" style="margin-bottom: 1%;">
    <div class="card-header"  style="border-bottom-style:solid;">
        <img src="../../image/system image/smily.jpg" class="user_profile"
            width="30px" height="30px">
       <a href="#" class="card-link username_post.re ">{{post.user_name}}  </a>
   </div>
   <div class="card-body">
        <p class="description">{{post.description}}</p>
        <img class="post_data" src={{post.user_post_file_name}} style="width: 75%; height: 25rem;" />
                
        <!-- <img src={{post.user_post_file}} alt="xc"> -->
        <!-- <img src="data:image/<%=post.user_post_file_type%>;,  -->
                     <!-- <%=post.user_post_file%>"> -->
        <!-- <img src="data:image/<%=post.user_post_file_type%>;base64, 
                     <%=post.user_post_file.toString('base64')%>">  -->
                 <!-- {{post.user_post_file_name}} -->
        <!-- <iframe class="post_data" style="width: 100%; height: 30rem;" src="https://www.youtube.com/embed/nnZeDt2c8Yo"></iframe> -->
    </div>
    <div class="card-footer" >
        <a class="btn  active1 btn like"><i class="fa fa-thumbs-up"></i></a>
        <a class="btn  active1 btn comment" id="comment_video"><i class="fas fa-comment"></i></a>
    </div>
</div>

</div>