<!-- {{userpost[0].user_post_file}} -->
<div *ngFor="let post of userpost.slice().reverse()  ; let i = index">
    <div *ngIf="post.user_post_file_type.indexOf('image')>-1">
    <div class="card border-primary" style="margin-bottom: 1%;">
        <div class="card-header"  style="border-bottom-style:solid;">
            <img [src]="getuserphoto(post.user_id)" class="user_profile"
                width="30px" height="30px">
           <a href="#" class="card-link username_post.re ">{{post.user_name}}  </a>
       </div>
       <div class="card-body">
            <p class="description">{{post.description}}</p>
            <img class="post_data" src={{post.user_post_file_name}} style="width: 75%; height: 25rem;" />
                    
         </div>
        <div class="card-footer" >
            
        </div>
    </div>
</div>
</div>